:host {
  width: 100%;
  min-height: calc(100vh - 182px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url('/assets/images/fondoRV.webp');
  background-size: cover;
  background-position: center;

  .presentation {
    display: flex;
    flex-direction: column;
    background-color: #673AB7;
    width: 550px;
    border-radius: 15px;
    padding: 60px;
    justify-content: center;
    align-items: center;
    position: relative;

    > p {
      color: white;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    &__back {
      position: absolute;
      top: 15px;
      left: 15px;

      & > button {
        background-color: #509493;
        border-radius: 20px;
        height: 60px;
        width: 60px;
      }
    }

    &__create {
      width: 400px;
    }

    & > button {
      width: 400px;
      padding: 30px;
      border-radius: 10px;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .spinner {
    position: absolute;
    bottom: 10%;
  }
}
