<div>

  <h1 mat-dialog-title>¿Felicidades!, Grupo creado</h1>
  <div mat-dialog-content>Por favor guarda las credenciales de tu grupo para que puedas compartirlo con tu grupo académico</div>
  <div mat-dialog-content>
    <p><strong>Nombre del Grupo</strong></p>
    {{ data.groupName }}
  </div>
  <div mat-dialog-content>
    <p><strong>Código del Grupo</strong></p>
    {{ data.groupData.serialGroup }}
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
